<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mrroy">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activites.SkillActivity"></activity>
        <activity android:name=".activites.LifeActivity" />
        <activity android:name=".activites.VariousActivity" />
        <activity android:name=".activites.InspirasationActivity" />
        <activity android:name=".activites.CareerActivity" />
        <activity android:name=".activites.VarsityActivity" />
        <activity android:name=".activites.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activites.HomeActivity" />
    </application>

</manifest>